.metadata/*
MIAB/bin/*
MIAB/endpoint-libs/lib*
MIAB/gen/com*
MIAB/gen/pl*
MIAB_test/bin/*
MIAB-AppEngine/bin/*
MIAB-AppEngine/war/WEB-INF/messagev1end*
MIAB-AppEngine/war/WEB-INF/classes/*
!MIAB-AppEngine/war/WEB-INF/classes/.*
