<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.com.ezap.miab"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.com.ezap.miab.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.com.ezap.miab.CreateMessageActivity"
            android:label="@string/title_activity_create_message"
            android:parentActivityName="pl.com.ezap.miab.MainActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.com.ezap.miab.MainActivity" />
        </activity>
        <activity
            android:name="pl.com.ezap.miab.SendingMessageActivity"
            android:label="@string/title_activity_sending_message"
            android:parentActivityName="pl.com.ezap.miab.CreateMessageActivity" >

            <!-- The meta-data element is needed for versions lower than 4.1 -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="pl.com.ezap.miab.CreateMessage" />
        </activity>
        <activity
            android:name="pl.com.ezap.miab.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="pl.com.ezap.miab.GooglePlayServicesMissingActivity"
            android:label="@string/title_activity_google_services_missing" >
        </activity>
        <activity
            android:name="pl.com.ezap.miab.MessageListActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="pl.com.ezap.miab.MessageViewActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="pl.com.ezap.miab.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <service
            android:name="pl.com.ezap.miab.services.MIABService"
            android:enabled="true"
            android:exported="false" >
        </service>
        <service
            android:name="pl.com.ezap.miab.services.SenderService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <provider
            android:name="pl.com.ezap.miab.store.MIABContentProvider"
            android:authorities="pl.com.ezap.miab.store.contentProvider"
            android:exported="false" >
        </provider>

    </application>

</manifest>